<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
  (function(){
  var fruits = [
    'apples',
    'bananas',
    'kiwis',
    'watermelon',
    'grapes',
    'avocado',
    'pear',
    'grapefruit',
    'strawberries',
    'mangoes',
    'oranges',
  ],
  
  fruitText = document.getElementById('fruit-text'),
  fruit = fruits[Math.floor(Math.random()* fruits.length)];
  fruitText.innerHTML = fruit;
}())
</script>