<footer class="site-footer">

  <div class="site-footer__wrapper">

    <h2 class="footer-heading"><a href="/me">About Me</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Soham Kamani</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-4">
        <img class="site-footer__dp" src="/assets/images/dp.jpg">
      </div>
      <div class="footer-col  footer-col-2">
        Find me on
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/{{ site.github_username }}" class="social-media-list__icon">
            <i class="fa fa-github-square"></i>
            </a>
            <a href="https://www.facebook.com/GUBGUB.GUBGUB.GUBGUB.GUBGUB" class="social-media-list__icon">
            <i class="fa fa-facebook-square"></i>
            </a>
            <a href="https://plus.google.com/109544665056353284255/posts" class="social-media-list__icon">
            <i class="fa fa-google-plus-square"></i>
            </a>
            <a href="https://www.linkedin.com/pub/soham-kamani/99/349/740" class="social-media-list__icon">
            <i class="fa fa-linkedin-square"></i>
            </a>
          </li>

          <li>
            <a class="twitter-follow-button" href="https://twitter.com/sohamkamani">Follow @sohamkamani</a>
          </li>
        </ul>
      </div>


    </div>

  </div>

</footer>
