.main-container{
    .site-header{
      background-color: #2196F3;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        border: 0;
        text-align: center;
        a{
        color: #fff;
        &:hover{
            text-decoration: none;
            color: #BBDEFB;
        }
        }

        &--align-middle{
          vertical-align:middle;
        }

        .social-media-list__icon{
          margin: 0 10px;
        }
    }
}

.share-page{
  &__icon{
    font-size: 1.6em;
  }
}

.social-media-list{
  &__icon{
    font-size: 1.8em;
    &:hover{
      text-decoration: none;
    }
  }
}

.site-footer{
  &__wrapper{
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
  }

  &__dp{
    width:150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;
  }
}

pre > code {
  color: #dadada;
}
