---
layout: default-blog
show_sidebar: false
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2> {{ post.excerpt }}
      <br>
      <a href="{{ post.url }}">Read more...</a>
      <br>
      <br>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>


  <div class="pagination" style="text-align: center;">

    {% if paginator.next_page %}
    <h2><a href="{{ paginator.next_page_path }}" class="next">- more posts -</a></h2> {% endif %} {% if paginator.previous_page %}
    <h2><a href="{{ paginator.previous_page_path }}" class="previous">- previous page -</a></h2> {% endif %}

  </div>

</div>
